name: Start upterm session

on:
  workflow_dispatch:
    inputs:
      image:
        description: "GHA image"
        required: true
        type: choice
        options:
          - "ubuntu-latest"
          - "ubuntu-24.04-arm"
          - "macos-latest"

jobs:
  upterm:
    runs-on: ${{ inputs.image }}

    steps:
      - name: Reclaim space (Linux)
        if: runner.os == 'Linux'
        uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: "carve"

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Setup upterm session
        uses: owenthereal/action-upterm@v1
        with:
          limit-access-to-actor: true
